docker/mysql/data/undo_001
docker/mysql/data/#ib_16384_0.dblwr
docker/mysql/data/ib_logfile0
docker/mysql/data/ib_logfile1
docker/mysql/data/undo_002


/docker/mysql/data/*

/storage/*
!storage/app/public
!storage/app/public/*
!storage/app/public/images/
!storage/app/public/images/*
!storage/app/public/items-img/
!storage/app/public/items-img/*
!storage/app/public/profile_images/
!storage/app/public/profile_images/*

